.promo {
    background: linear-gradient(to right, #000 33%, #181823 33%);
    min-height: 898px;
    border-bottom: 1px dashed #fff;
    header {
        height: 88px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        position: relative;
        
    }
    &__box {
        position: absolute;
        width: 750px;
        height: 650px;
        top: 166px;
        left: -72px;
    }
    &__photo {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width: 750px;
        height: 650px;
        object-fit:cover;
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 78px;
        line-height: 94px;
        color: #FFFFFF;
        position: relative;
        z-index: 1;
        margin-top: 221px;
        max-width: 738px;
        margin-left: auto;
        span {
            color: #C7E0F4;
        }
    }
    &__subtitle {
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        z-index: 1;
        position: relative;
        max-width: 738px;
        margin-left: auto;
        margin-top: 32px;
    }
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 100%;
    align-items: center;
    &_item {
        padding: 0 12px;
        display: flex;
        align-items: center;
        height: 100%;
        &:hover {
            background-color: #5221E6;
        }
        .menu__link{
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}
.hamburger {
    display: none;
}