* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Sen', sans-serif;
}
.container {
    padding: 0 72px;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}
.title {
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    color: #FFFFFF;
    
}

@import "promo";
@import "company";
@import "philosophy";
@import "skills";
@import "work";
@import "instagram";
@import "dribble";
@import "rew";

@import "media";